<div class="flex items-center h-24 bg-purple-800 text-white">
    <a routerLink="/about" routerLinkActive="active">
        <img src="..\..\assets\purple_logo.jpg" alt="Purple Logo" class="w-20 h-20 rounded-full ml-5">
    </a>

    <div class="flex justify-center items-center flex-grow">
        <button class="m-10" routerLink="/about" routerLinkActive="active">Qui sommes-nous</button> 
        <button class="m-10" routerLink="/join" routerLinkActive="active">Nous rejoindre</button>
        <button class="m-10" routerLink="/contact" routerLinkActive="active">Contact</button> 
        <button class="m-10" routerLink="/donation" routerLinkActive="active">Donation</button>
    </div>
</div>
