<div class="page-card">
    <h1>Qui sommes-nous ?</h1>

    <h2>L'association et son histoire</h2>
    
    <h3>Purple Effect c'est quoi ?</h3>
    <p>Purple Effect regroupe près d’une centaine de bénévoles passionné·es de musique électronique, réunis autour d’un objectif : rendre à la nuit sa grandeur !</p>
    <p>L’association est née en 2021 de l'initiative de Johanna, Arnaud et Roxana aux côtés de l’entreprise Tapage Nocturne, suite à un besoin grandissant d’apporter de la sécurité au public dans le monde de la nuit et de leurs événements.</p>

    <h3>Où est-ce qu'on intervient ?</h3>
    <p>Nous intervenons principalement sur Lyon et sa périphérie au cœur d’évènements de musique électronique pour prévenir les risques et garantir au plus grand nombre de festivauler·e leur bien-être aux événements.</p>

    <h3>Quels sont nos différentes actions ?</h3>
    <p>Nous agissons sur 3 axes principaux : la prévention, l’accompagnement et la médiation.</p>
    <ul>
        <li>    Prévenir les risques, en sensibilisant le public aux dangers potentiels (drogues, violences verbales et physiques) et en travaillant main dans la main avec les structures qui organisent les évènements.</li>
        <li>    Accompagner les survivant·es de différentes formes de violences (agressions,  soumission chimique, discrimination, propos violents, harcelement) en les rassurant et en leur proposant un soutien physique et psychologique jusqu’à ce qu’elles soient en sécurité.</li>
        <li>    Médier entre le public et les organismes en charge des évènements, ainsi que la sécurité et les secouristes présents lors des soirées, pour que chaque personne ressentant le besoin puisse obtenir l’aide nécessaire.</li>        
    </ul>

    <h3>Pourquoi “Purple Effect” ?</h3>
    <p>La diffusion et le partage de nos valeurs fondamentales, soutenues par la symbolique de la couleur violette : le rêve, la délicatesse et l’amitié. Comme le battement d’aile d’un papillon peut engendrer des tempêtes, la simple présence de nos bénévoles a le pouvoir d’illuminer vos soirées.</p>

    <h2>"Votre sourire, notre bonheur"</h2>
    <p>Nous nous retrouvons beaucoup trop souvent confronté·e à des agressions physiques comme verbales lors d’événements festifs, alors que le principal but de ceux-ci est de pouvoir sortir libre avec nos ami·es sans craintes ni peurs de se faire embêter. De ce fait, nous avons créé le concept des Copain·es de la Nuit : des ami·es de tous·tes sur qui on peut compter tout au long de la soirée !</p>
    <p>C’est un réseau de Copain·es formé·es et engagé·es, dans le but de rendre le monde de la nuit plus sûr, tout en prônant la bienveillance et la diversité.</p>
    <p class="font-bold">Nous intervenons sur plusieurs temps :</p>
    <ul>
        <li><a class="font-bold">   Avant l’événement,</a> en donnant les tips à avoir pour passer une bonne soirée sur nos réseaux sociaux, avec la présence d’un stand avec du matériel de Réduction des Risques liés aux Drogues et les pratiques sexuelles, en intervenant dans des écoles/universités afin de sensibiliser les étudiant·es.</li>
        <li><a class="font-bold">   Pendant l’événement,</a> les Copain·es de la Nuit présent·es lors de celui-ci déambulent parmi le public avec un t-shirt violet afin d’être présent·e sur les faits et venir en aide aux personnes dans le besoin. Nous avons aussi nos affiches qui annoncent notre présence, les bonnes pratiques à avoir, dont celle du cocktail Purple qui est possible de commander au bar en cas de ressenti de danger.</li>
        <li><a class="font-bold">   Après l’événement,</a> nous avons pour but de développer des dispositifs afin que le public rentre chez elle·ux ou en after, en sécurité, avec des personnes de confiance. Si des problèmes sont rencontrés pendant une soirée, nous faisons notre possible pour accompagner et/ou rediriger le public au mieux vers les services adéquats.</li>
    </ul>

    <h2>L'accompagnement des structures organisatrices</h2>
    <p>Purple Effect regroupe majoritairement des étudiant·es qui se sentent concerné·es par ces sujets. Ce sont des bénévoles passionné·es, bienveillant·es et plein·es de détermination à redorer nos nuits dans toute leur splendeur !</p>
    <p>L’action de l’association s’étend aussi sur la sensibilisation des ses bénévoles sur les sujets et risques rencontrés en événements.</p>
    <p>Dans un second temps, il est important pour nous de collaborer avec des organismes ayant les mêmes valeurs et ambitions. Nous nous engageons à accompagner les structures sur l’organisation de la prévention et la bienséance de leurs événements.</p>
    <p>Purple Effect se base sur des valeurs d’entraide, de cohésion et de réflexion vis-à-vis des organisateur·ices d’événements. Nous avons pour but d’informer les structures collaboratrices autour des risques et des solutions d’accompagnement de leur public au mieux durant l’événement.</p>
    <p>Un but commun à tous·tes : <a class="font-bold">rendre à la nuit sa grandeur !</a></p>

    <h2>“Les Copain.es de la nuit”</h2>
    <p>Iels ont pour mission de réagir comme ami·es de tous·tes. Ce sont des médiateur·ices entre le public et la Sécurité, qui accompagnent les personnes dans le besoin et s'assurent du bon déroulement de l'événement. Nous appuyons sur leur observation, leur vigilance et leur bienveillance lors des briefs effectués avant chaque début d'événement.</p>
    <p>Les Copain·es de la nuit portent un t-shirt violet reconnaissable et circulent dans les foules avec la possibilité de danser et discuter avec les festivalier·es, afin de pouvoir être remarqués et être interpellés par le public en cas de problèmes quelconque.</p>

</div>
